/* this code for making footer stick from https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	flex: 1;
}

/* Nav */
.name-logo {
	padding: 1.25rem 1rem 0rem 1rem;
}

.navbar-burger {
	padding: 2rem;
}

/* Projects */
.projects {
	margin: 50px 0px 0px 0px;
}

.button {
	margin: 10px 0px 0px 0px;
}

/* Footer */
.copyright {
	padding: 0rem 0.5rem 0rem 0rem;
}
.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icons-container {
	display: inline-flex;
}

.icon {
	margin: 0rem 0.25rem 0rem 0.25rem;
}

/* About */
.skills {
	text-align: center;
}

.resume {
	text-align: center;
	padding: 0rem 0rem 1.25rem 0rem;
}

/* Blog */
.blog {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 50px;
}
