body {
    
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

header {
    color: white;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 3px solid rgb(255, 255, 255);
    margin: 0px 40px;
   
    
}

main {
    background-image: url("images/JaimieLoweFormalBlackSmile2.jpeg");
    background-color: black;
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
}

a {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 0px;
    margin: 100px 0px 0px 40px;
    font-size: 50px;
    text-decoration: none;
    font-size: 4vw;
    font-size: 4vh;
}

footer {
    background-color: white;
    width: 100vw;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; */

}

/* .FooterAnchor {
    color: black;
} */


img.GitHub-Mark {
    max-width: 64px;
    max-height: 64px;
    padding: 20px;
}